.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  margin: 10px;
  background-color: white;
}

.App-header {
  background-color: white;
  height: 200px;
  padding: 20px;
  color: black;
  margin: 15px;
}

.App-intro {
  font-size: large;
}

.Sources-list {
  width: 25%;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.h2 {
  margin: 10px;
}
